/*
 * Styles for the index page.
 * It uses flexbox to create a responsive site.
*/
body {
    margin: 0 2rem;
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.5rem;
}

/* Navigation Bar*/
h1 {
    margin: 0;
}

nav {
    border-bottom: 1px solid black;
}

.container-nav {
    margin: 2rem ;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-family: 'Montserrat', sans-serif;   
    color: white;
    font-weight: 700; 
    width: 10rem;
    height: 2rem;
    margin: 0 1rem;
    border: none;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

.add {
    background-color: #3e8e41
}

.delete {
    background-color: #ca3b3b;
}

.btn:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 5%;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    margin: 0 2rem;
    background-color: white;
}

/* Section - Product */
.product-container_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-container_top {
    border: 1px black solid;
    width: 250px;
    height: 250px;
    margin: .5rem;
}

.product-container_body {
    text-align: center;
}

.description {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

section {
    margin-bottom: 5rem;
}

.delete-checkbox {
    margin: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}

/* Media Queries (Small and big screens)*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-nav {
        margin: 2rem ;
        display: flex;
        flex-direction: column;
    }
    .container-nav_buttons {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
    }
    .btn {
        margin: .5rem 0;
    }
    footer {
        width: 85%;
    }
    .product-container_main {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .product-container_top {
        margin: 0.5rem auto;
    }
    section {
        margin-bottom: 7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0;
    }
    .container-nav_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .btn {
        margin: .2rem 0;
    }
    footer {
        width: 90%;
    }
    .product-container_main {
        flex-wrap: wrap;
        justify-content: center;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-nav_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn {
        margin: 0 .2rem;
    }
    footer {
        width: 95%;
    }
}